
.blocks{
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
    height: 100vh;
    align-items: center;
    background-image: url("https://klike.net/uploads/posts/2019-06/medium/1561182942_2.jpg");

}

.squares{
    height: 70px;
      width: 70px;
      border:1px solid black ;
      margin: auto;
      text-align:center;
      color:black;
      font-size:x-large;
      background-color:white;
      transform: 0.4s;


      
}

.animation {
    height: 80px;
    
      border:1px solid brown ;
      transform: 0.5s;
      background-color:lawngreen;
}